body {
  font-family: 'Comfortaa', cursive;
  background: #dadce7 url("../img/bg.png") center center repeat;
}
.photo {
  width: 310px;
  margin-top: 50px;
}
.photo .block {
  overflow: hidden;
  background: #000;
  border-radius: 30px;
  position: relative;
  transition: all 0.4s linear;
}
.photo .block img {
  width: 100%;
  transition: all 0.4s linear;
  height: 400px;
}
.photo .block .screen {
  position: absolute;
  left: 30px;
  top: 30px;
  bottom: 30px;
  right: 30px;
  opacity: 0;
  transition: all 0.4s linear;
}
.photo .block .screen::before,
.photo .block .screen::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.5s linear;
}
.photo .block .screen::before {
  border-top: 1px solid #FBE100;
  border-bottom: 1px solid #FBE100;
  transform: scale(0, 1);
}
.photo .block .screen::after {
  border-left: 1px solid #FBE100;
  border-right: 1px solid #FBE100;
  transform: scale(1, 0);
}
.photo .block .screen-text {
  color: #FBE100;
  padding: 10px;
}
.photo .block .screen-text h1 {
  font-size: 20px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  border-right: 5px solid #7E0ED1;
  border-left: 5px solid #7E0ED1;
  padding-right: 10px;
  padding-left: 10px;
}
.photo .block .screen-text .icons {
  z-index: 9999;
  position: absolute;
  right: 20px;
  top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.photo .block .screen-text .icons a {
  margin-bottom: 20px;
}
.photo .block .screen-text .icons a i {
  transition: all 0.2s linear;
  color: #fff;
  font-size: 25px;
}
.photo .block .screen-text .icons a i:hover {
  color: #7E0ED1;
}
.photo:hover .block {
  box-shadow: 0px 7px 89px -13px #8c008c;
}
.photo:hover .block img {
  transform: rotate(-10deg) scale(1.3);
  filter: blur(1px);
  opacity: 0.5;
}
.photo:hover .screen {
  opacity: 1;
}
.photo:hover .screen::before,
.photo:hover .screen::after {
  transform: scale(1, 1);
}
@media (max-width: 1200px) {
  .photo:nth-child(even) {
    margin-right: 50px;
  }
}
@media (max-width: 991px) {
  .photo:nth-child(even) {
    margin-right: 50px;
  }
}
@media (max-width: 768px) {
  .photo:nth-child(even) {
    margin-right: 0;
  }
}
