::-webkit-scrollbar {
   /* скрытый скроллбар */
   width: 0;
}

body {
   background: var(--body-bg) url('../img/mainbg.png') repeat;
   display: flex;
   justify-content: flex-start;
   font-family: sans-serif;
}

* {
   box-sizing: border-box;
   -webkit-user-select: none; /* запрет выделения */
   -moz-user-select: none;
   -ms-user-select: none;
}

/* очищение стандартных отступов */
ul,
li {
   padding: 0;
   margin: 0;
   list-style: none;
}

/* цвет текста всей страницы */
input, body {
   color: var(--text)
}


/* скрытие стандартного чекбокса */
input[type="checkbox"] {
   display: none;
}

/* блок восстановления удаленного элемента */
.undo-delete {
   background-color: var(--delete-message);   
   font-size: 25px;
   line-height: 50px;
   text-align: center;
   padding: 0 15px;
   display: inline-block;
   position: absolute;
   right: 20px;
   bottom: 20px;
   z-index: 100;
   border-radius: 10px;
   transform: scale(0,0);
}

/* блок с кнопкой открытия меню и названием списка для мобил */
.mobile-header {
   width: 100%;
   height: 8vh;
   font-size: 25px;
   background-color: var(--panels-color);
   justify-content: flex-start;
   align-items: center;
   padding: 0 20px;
   display: none;
}
.mobile-header span {
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
}
.undo-open {
   transform: scale(1,1);
}

/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

.menu, .taskField {
   -webkit-box-shadow: 0px 4px 45px 3px var(--text-shadow-color);
   -moz-box-shadow: 0px 4px 45px 3px var(--text-shadow-color);
   box-shadow: 0px 4px 45px 3px var(--text-shadow-color);
}

/* панель со списками и темами */
.menu {
   background-color: var(--panels-color);
   font-size: 30px;
   border-radius: 10px;
   height: 95vh;
   position: relative;
   padding: 20px;
   margin: 2.5vh 30px 2.5vh 10px;
   transform: scaleX(1);
}

/* блок с надписью и кнопкой */
.addList {
   margin-bottom: 20px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

#listNameField {
   display: inline-block;
   font-size: 25px;
   padding: 10px;
   margin: 20px 10px 20px 0;
   outline: none;
   border: 3px solid var(--borders);
   background-color: transparent;
   border-radius: 5px;
   height: 50px;
   line-height: 50px;
   width: 100%;
   transition: 0.4s;
   border-color: var(--borders);
   transform: scale(0);
}

.listNameFieldActive {
   transform: scale(1)!important;
}

/* поле списков */
.listsList {
   overflow: auto;
   position: absolute;
   bottom: 80px;
   right: 20px;
   left: 20px;
   top: 100px;
   scrollbar-width: none;
   transition: 0.4s;
   padding-bottom: 40px;
}

/* смена положения поля списков при открытии поля ввода */
.listsListInput {
   top: 190px;
}

/* элемент списка */
.listsList>li {
   margin-bottom: 20px;
   position: relative;
   line-height: 50px;
   border-radius: 10px;
   padding: 0 40px 0 20px;
   cursor: pointer;
   background-color: var(--items);
   transition: 0.4s;
}

/* стили для открытого списка */
.listsList>.activeList {
   background-color: var(--active-list); 
   color: var(--active-list-text);
}

/* обрезка названия списка до максимальной ширины */
.listsList li span {
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
   display: block;
}

/* поле ввода для переименовании задачи */
.listsList li span input,
#subList li label span input {
   background-color: transparent;
   border: none;
   width: 100%;
   outline: none;
}

/* цвет текста в поле переименования активного списка */
.listsList .activeList span input {
   color: var(--active-list-text);
}

/* поля для ввода списков и задач */
#taskNameField, #listNameField {
   display: inline-block;
   font-size: 25px;
   padding: 10px;
   margin: 20px 10px 20px 0;
   outline: none;
   border: 3px solid var(--borders);
   background-color: transparent;
   border-radius: 5px;
   height: 50px;
   line-height: 50px;
   width: 100%;
   transition: 0.4s;
}

/* поле ввода названия списка */
#listNameField {
   border-color: var(--borders);
   transform: scale(0);
}

/* класс для всплатия поля ввода */
.listNameFieldActive {
   transform: scale(1)!important;
}

/* окно опций списка */
.optionsList {
   background-color: var(--options-bg);
   border-radius: 8px;
   font-size: 15px;
   text-align: center;
   overflow: hidden;
   position: absolute;
   top: 0;
   right: 25px;
   transform: scale(0);
   z-index: 1;
   transition: 0.4s;
   transform-origin: 100% 40%;
}

.optionsListOpen {
   transform: scale(1);
}

/* элемент списка опций */
.optionsList>li {
   line-height: 30px;
   padding: 0 10px;
   transition: 0.4s;
}

/* нижняя граница для всех элементов кроме последнего */
.optionsList>li:not(:last-child) {
   border-bottom: 1px solid var(--borders);
}

/* кнопка элемента опций */
.optionsList a {
   color: var(--text);
   text-decoration: none;
   transition: 0.4s
}

/* список тем */
#themes {
   display: flex;
   bottom: 20px;
   left: 20px;
   position: absolute;
}

/* эффекты при наведении */

.optionsList>li:hover {
   background-color: var(--options-bg-hover);
}

.optionsList>li:hover a {
   color: var(--options-color-hover);
}

#themes>li:hover {
   border-color: var(--text);
}

.listsList>li:hover {
   background-color: var(--list-line-bg-hover);
   color: var(--list-line-text-hover);
}

.listsList>.activeList:hover {
   color: var(--list-line-text-hover);
   background-size: var(--items);
}


/* темы ----------------------------*/
#darkTheme {
   background-color: black;
}

#lightTheme {
   background-color: antiquewhite;
}

#blueTheme {
   background-color: #64a5f4;
}
/* ------------------------------------ */

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* поле ввода задачи */
#taskNameField {
   padding-right: 60px;
}

/* список задач */
#taskList {
   display: flex;
   position: absolute;
   flex-direction: column;
   overflow: auto;
   bottom: 20px;
   top: 120px;
   left: 20px;
   right: 20px;
   scrollbar-width: none;
}

/* задача списка */
#taskList>li {
   position: relative;
   margin-top: 25px;
   width: 100%;
}

/* стили для label */
#taskList>li>label {
   margin: 10px auto;
   height: 50px;
   background-color: var(--items);
   display: block;
   font-size: 30px;
   border-radius: 5px;
   cursor: pointer;
   padding: 0 100px 0 60px;
   position: relative;
   white-space: nowrap; /* Запрещаем перенос строк */
   overflow: hidden; /* Обрезаем все, что не помещается в область */
   text-overflow: ellipsis; /* Добавляем многоточие */
}

/* вертикальное выравнивание текста задачи по середина */
.taskTitle {
   line-height: 50px;
}

/* панель с задачами */
.taskField {
   border-radius: 10px;
   background-color: var(--panels-color);
   position: relative;
   padding: 20px;
   margin: 20px 30px; 
   height: 95vh;
   margin: 2.5vh 10px;
}

/* чекбокс */
#taskList>li>label::before {
   position: absolute;
   left: 15px;
   top: 50%;
   transform: translateY(-50%);
   color: var(--buttons);
}

/* надпись для пустых списков */
#emptyList {
   position: absolute;
   text-align: center;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   font-size: 30px;
   text-shadow: 9px 9px 10px black, 0 0 4em var(--text-shadow-color);
}

/* зачеркнутая задачи при выполнении */
input[type="checkbox"]:checked + label>span {
   text-decoration: line-through;
   text-decoration-color: #ff3600;
   text-decoration-style: wavy;
}

/* поле ввода и кнопка добавления задачи */
.addWrap {
   position: relative;
}

/* поле вывода даты и времени */
.date-time-out {
   position: absolute;
   right: 20px;
   top: -13px;
   height: 25px;
   background-color: var(--items);
   clip-path: polygon(0% 0,100% 0,100% 100%,0 100%);
   display: block;
   padding: 5px 25px;
   border-top-left-radius: 50px;
   border-top-right-radius: 50px;
   text-align: center;
}

/* завершенная или незаданная дата или время */
.error-date {
   color: var(--error-color);
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


/* КНОПКИ */

button {
   color: var(--buttons);
   transition: 0.3s;
   background: none;
   border: none;
   cursor: pointer;
   outline: none;
}   

/* элемент списка тем */
#themes>li {
   width: 40px;
   height: 40px;
   border: 3px solid var(--buttons);
   border-radius: 10px;
   cursor: pointer;
   margin-right: 15px;
   transition: 0.4s;
}

/* кнопка добавления списка */
.addList button {
   font-size: 50px;
   width: 50px;
   margin-right: 20px;
}

/* кнопка восстановления */
.undo-delete a {
   color: var(--buttons);
   text-decoration: none;
}

/* абсолютно-позиционированные */
.delete-btn,
.rename-btn,
.settings-btn,
.save-modal,
#addBtn,
#optionsBtn, #subListAdd {
   position: absolute;
   font-size: 30px;
   top: 50%;
   transform: translateY(-50%);
}

/* удаление */
.delete-btn {
   right: 5px;
}

.rename-btn {
   right: 30px;
   font-size: 18px;
}

/* добавление */
#addBtn,#subListAdd {
   font-size: 30px;
   right: 5px;
}

/* параметры */
.settings-btn {
   right: 55px;
}

/* закрытие параметров */
.save-modal {
   right: 10px;
   top: 30px;
   font-size: 35px;
}

/* удаление в параметрах */
.modal-delete-btn {
   right: 60px;
   top: 30px;
}

/* открытие опций списка */
#optionsBtn {
   right: 30px;
   width: 5px;
   height: 40px;
}

/* цвет кнопки опций в активном списке */
.listsList>.activeList>#optionsBtn {
   color: var(--active-list-text);
}

/* удалить подзадачу */
.subTaskItem>.delete-btn {
   right: 0px;
   font-size: 18px;
}

/* кнопка меню для мобил */
.mobile-header button {
   margin-right: 20px;
}

/* кнопки при наведении */
button:hover {
   color: var(--text);
}

/* наведение на кнопку опций в активном списке */
.listsList>.activeList>#optionsBtn:hover {
   color: var(--buttons);
}

/* удаление и закрытие */
.save-modal:hover {
   color: greenyellow;
}
.delete-btn:hover {
   color: red;
}


/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////// */



/* ПАРАМЕТРЫ ЗАДАЧ */

/* окно параметров */
.modal-settings {
   position: absolute;
   top: 50px;
   left: 50%;
   transform: translateX(-50%);
   background-color: var(--panels-color);
   border-radius: 10px;
   padding: 80px 0;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   margin-bottom: 50px;
   align-items: center;
   max-width: 600px;
}

/* обертка для скрытия основного контента */
.modal-wrap {
   position: fixed;
   overflow: auto;
   left: 0;
   top: 0;
   right: 0;
   bottom: 0;
   background-color: rgba(0, 0, 0, 0.8);
}

/* поле текста задачи */
.modal-input {
   background-color: transparent;
   border: none;
   border-bottom: 3px solid var(--buttons);
   border-radius: 2px;
   outline: none;
   font-size: 30px;
   width: 80%;
   padding: 10px; 
   margin-bottom: 30px;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
}

/* поле для заметки к задаче */
.note-modal {
   width: 80%;
   background-color: transparent;
   border: 2px dashed var(--borders);
   outline: none;
   font-size: 20px;
   height: 100px;
   margin-bottom: 30px;
   resize: none;
   padding: 10px;
   letter-spacing: 2px;
   color: var(--text);
}

.time-modal, .date-modal {
   background-color: transparent;
   border: none;
   font-size: 30px;
   outline: none;
   border-bottom: 3px solid var(--buttons);
}

/* отступ в дате */
.date-modal {
   margin: 20px;
}

/* сброс стандартных кнопок даты и времени */
/* http://qaru.site/questions/170510/how-to-get-rid-of-x-and-updown-arrow-elements-of-a-input-date */

input[type=date]::-webkit-inner-spin-button, 
input[type=time]::-webkit-inner-spin-button,
input[type=date]::-webkit-clear-button,
input[type=time]::-webkit-clear-button {
   -webkit-appearance: none;
   display: none;
}
input[type=date]::-webkit-calendar-picker-indicator {
   color: var(--buttons);
   background: none;
}

/* галочка для очистки даты */
.modal-check {
   font-size: 20px;
   background: var(--items);
   padding: 5px 10px;
   border-radius: 5px;
   transition: 0.3s;
   cursor: pointer;
}
.modal-check::before {
   color: var(--buttons);
}

/* панель подзадач */
.subListBlock {
   width:80%;
   border: 2px dashed var(--borders);
   margin-top: 20px;
   padding: 15px;
}

/* блок с подзадачами */
#subList {
   overflow: auto;
   max-height: 150px;
   margin-top: 15px;
   scrollbar-width: none;
}

/* поле ввода подзадачи */
#subListInp {
   width: 100%;
   height: 50px;
   background: transparent;
   border: none;
   border-bottom: 2px solid var(--buttons);
   border-radius: 2px; 
   outline: none;
   font-size: 20px;
   padding: 0 65px 0 10px;
   color: var(--text);
   position: relative;
   transition: 0.4s;
}

/* подзадача */
.subTaskItem {
   background-color: var(--items);
   display: block;
   border-radius: 5px;
   cursor: pointer;
   line-height: 25px;
   padding: 0 70px 0 30px;
   position: relative;
   margin-top: 10px;
   white-space: nowrap; /* Запрещаем перенос строк */
   overflow: hidden; /* Обрезаем все, что не помещается в область */
   text-overflow: ellipsis; /* Добавляем многоточие */
   width: 100%;
   transition: 0.4s;

}

/* чекбокс */
.subTaskItem::before {
   position: absolute;
   left: 5px;
   top: 50%;
   transform: translateY(-50%);
   color: var(--buttons);
}

/* наведение и фокус в модалке */


.modal-check:hover,
#subList>li>label:hover {
   background: var(--list-line-bg-hover);
   color: var(--list-line-text-hover);
}



@media(max-width:700px) {
   .mobile-header {
      display: flex;
   }
   .modal-settings {
      width: 310px;
   }
   .menu {
      margin-right: 10px;
      transform: scaleX(0);
      position: absolute;
      max-width: 97vw;
      left: 10px;
      top: 8vh;
      bottom: 2.5vh;
      right: 10px;
      z-index: 1100;
      height: 87vh;
      font-size: 20px;
   }
   body {
      flex-direction: column;
      font-display: flex-start;
   }
   .taskField {
      height: 87vh;
      transform: scaleX(1);
   }
   li {
      font-size: 12px;
   }
   label {
      font-size: 20px;
   }
   label::before {
      height: 18px;
      width: 18px;
   }
   .settings-btn,.delete-btn {
      width: 30px;
      height: 30px;
   }
   #listsList li, .time-modal, .date-modal, .modal-input, #taskNameField, #listNameField, #subListInp {
      font-size: 20px;
   }
   #addListBtn {
      width: 40px;
      height: 40px;
   }
   #listsList button {
      width: 25px;
      height: 25px;   
   }
   #listsList {
      right: 50px;
   }
   .date-time-modal {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
   }
   .time-modal {
      margin-left: 20px;
   }
   #subListInp {
      width: 75%;
   }
   .undo-delete {
      height: auto;
      left: 20px;
      z-index: 999999;
   }
   .modal-check {
      font-size: 15px;
   }
   #subListInp, #subList label {
      font-size: 15px;
   }
   .showMenu {
      transform: scaleX(1);
   }
   .hideTasks {
      transform: scaleX(0);
   }
}

@media(min-width:1000px) {
   .taskField {
      width: 600px;
   }
}