:root {
   --light-color: antiquewhite;
}
::-webkit-scrollbar {
   width: 0px;  
}
body {
   background: #000;
}
* {
   box-sizing: border-box;
}
ul,
li {
   padding: 0;
   margin: 0;
   list-style: none;
}
li {
   position: relative;
   margin-top: 25px;
   width: 100%;
}
label:hover, label:hover + .date-time-out{
   background-color: rgba(255, 255, 255, 0.4);
}

#taskList,#listsList {
   display: flex;
   position: absolute;
   justify-content: flex-start;
   flex-direction: column;
   overflow: auto;
   bottom: 20px;
   top: 120px;
   left: 20px;
   right: 20px;
}

label,#listsList li {
   margin: 10px auto;
   height: 50px;
   color: antiquewhite;
   background-color: rgba(255, 255, 255, 0.2);
   display: block;
   font-size: 30px;
   font-family: sans-serif;
   line-height: 50px;
   border-radius: 5px;
   transition: 0.1s;
   cursor: pointer;
   padding: 0 100px 0 60px;
   position: relative;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
}

.undo-delete {
   color: antiquewhite;
   background-color: #333;   
   font-size: 25px;
   line-height: 50px;
   height: 50px;
   text-align: center;
   padding: 0 10px;
   display: inline-block;
   position: absolute;
   right: 20px;
   bottom: 20px;
   z-index: 100;
   border-radius: 10px;
   transition: 0.4s;
   transform: scale(0,0);
}
.undo-delete a {
   color: #ffcc00;
   text-decoration: none;
}

#listsList li {
   padding-left: 20px;
   min-height: 50px;
   overflow: hidden; 
   text-align: left;
}
#listsList {
   top: 120px;
   transition: 0.3s;
}

label::before {
   content: "";
   height: 25px;
   position: absolute;
   display: block;
   width: 25px;
   top: 50%;
   left: 15px;
   border-radius: 5px;
   border: 3px solid #ffcc00;
   cursor: cell;
   transform: translateY(-50%);
}

.taskField {
   border-radius: 10px;
   width: 600px;
   background-color: #3f3d54;
   position: fixed;
   padding: 20px;
   top: 20px;
   bottom: 20px;
   left: 450px;
}

#addField,#listNameField {
   display: inline-block;
   color: antiquewhite;
   position: relative;
   font-size: 25px;
   padding: 10px;
   margin: 20px 10px 20px 0;
   font-family: sans-serif;
   outline: none;
   border: 3px solid rgba(255, 255, 255, 0.4);
   background-color: transparent;
   border-radius: 5px;
   height: 50px;
   transition: 0.2s;
   line-height: 50px;
   width: 100%;
}
#listNameField {
   width: auto;
   height: 0;
   border-width: 0;
   padding: 0;
   transition: 0.3s;
}

#addField:hover,
#addField:focus,
#listNameField:hover,
#listNameField:focus {
   border-color: rgba(255, 255, 255, 0.8);
}

#addBtn {
   color: #333;
   font-size: 40px;
   height: 50px;
   border: none;
   min-width: 50px;
   text-align: center;
   display: inline-block;
   line-height: 50px;
   border-radius: 50%;
   outline: none;
   font-weight: bold;
   background-color: #ffcc00;
   cursor: pointer;
   transition: 0.1s;
}

#addBtn:hover {
   background-color: #ffe67d;
}

input[type="checkbox"] {
   display: none;
}

input[type="checkbox"]:checked+label::before {
   background: url('../img/check.png') center center no-repeat;
   background-size: 80%;
}

input[type="checkbox"]:checked+label {
   text-decoration: line-through;
   text-decoration-color: #ff3600;
   text-decoration-style: wavy;
}
#listsList li span input {
   background-color: transparent;
   border: none;
   width: 90%;
   outline: none;
   color: antiquewhite;
}
.addWrap {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.delete-btn {
   background: url('../img/recycle.png') center center no-repeat;
   right: 15px;
   top: 50%;
   transform: translateY(-50%);
}

.settings-btn {
   background: url('../img/settings.png') center center no-repeat;
   right: 70px;
   top: 50%;
   transform: translateY(-50%);
}
.rename-btn {
   background: url('../img/rename.png') center center no-repeat;
   right: 70px;
   top: 50%;
   transform: translateY(-50%);
}


.close-modal {
   background: url('../img/close.png') center center no-repeat;
   right: 10px;
   top: 10px;
}

.delete-btn,
.settings-btn,
.close-modal,
.rename-btn {
   cursor: pointer;
   background-color: transparent;
   border: none;
   height: 35px;
   position: absolute;
   display: block;
   width: 35px;
   background-size: cover;
   outline: none;
   transition: 0.2s;
}
.rename-btn-save {
   background: url('../img/check.png') center center no-repeat;  
   background-size: 30px;
}
.delete-btn:hover,
.settings-btn:hover,
.close-modal:hover,
.addList button:hover,
#listsList li button:hover,
.modal-delete-btn:hover {
   filter: brightness(130%)
}

.modal-settings {
   width: 550px;  
   position: absolute;
   left: 50%;
   border-radius: 10px;
   top: 50px;
   background-color: #3f3d54;
   transform: translateX(-50%);
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   align-items: center;
   padding: 80px 0;
}

.modal-wrap {
   position: fixed;
   left: 0;
   top: 0;
   right: 0;
   bottom: 0;
   background-color: rgba(0, 0, 0, 0.8);
}

.modal-input {
   background-color: transparent;
   border: none;
   border-bottom: 3px solid #ffcc00;
   border-radius: 2px;
   outline: none;
   overflow: hidden;
   font-size: 30px;
   width: 80%;
   padding: 10px;
   color: antiquewhite;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
   transition: 0.4s;
   margin-bottom: 30px;
}

.modal-input:focus,
#subListInp:focus,
.date-modal:focus,
.time-modal:focus {
   border-bottom-color: #fff;
}
.modal-delete-btn {
   position: absolute;
   right: 60px;
   top: 12px;
   background: url('../img/recycle.png') center center no-repeat;
   border: none;
   background-size: cover;
   height: 31px;
   width: 31px;
   cursor: pointer;
   transition: 0.3s;
   outline: none;
}
.note-modal {
   width: 80%;
   background-color: transparent;
   border: 2px dashed rgba(255, 255, 255, 0.4);
   outline: none;
   color: antiquewhite;
   transition: 0.4s;
   font-size: 20px;
   height: 100px;
   margin-bottom: 30px;
   resize: none;
   padding: 10px;
   letter-spacing: 2px;
}
.note-modal:focus {
   border-color: #fff;
}

.date-modal {
   margin: 20px;
}

.date-time-out {
   color: red;
   position: absolute;
   right: 10px;
   top: -10px;
   height: 20px;
   background-color: rgba(255, 255, 255, 0.2);
   clip-path: polygon(8% 0,92% 0,100% 100%,0 100%);
   display: block;
   padding: 5px 25px;
   border-top-left-radius: 35px;
   transition: 0.1s;
   border-top-right-radius: 35px;
   width: 180px;
   text-align: center;
}

.menu {
   width: 400px;
   background-color: #3f3d54;
   position: fixed;
   left: 20px;
   text-align: center;
   top: 20px;
   overflow: hidden;
   bottom: 20px;
   color: antiquewhite;
   font-family: sans-serif;
   font-size: 30px;
   border-radius: 10px;
}

.addList {
   margin: 40px 20px 20px 20px;
   display: flex;
   justify-content: space-between;
}
.addList button {
   background: url('../img/addlist.png') center center no-repeat;
   background-size: cover;
   border: none;
   outline: none;
   cursor: pointer;
   width: 50px;
   height: 50px;
   transition: 0.3s;
}
.time-modal, .date-modal {
   background-color: transparent;
   border: none;
   color: antiquewhite;
   font-size: 30px;
   outline: none;
   border-bottom: 3px solid #ffcc00;
}
.modal-check {
   max-width: 320px;
   height: 30px;
   font-size: 20px;
   line-height: 30px;
   padding: 0 10px 0 40px;
   overflow: unset;
}
.modal-check::before {
   height: 15px;
   width: 15px;
   left: 10px;
   border-radius: 3px;
   border-width: 2px;
}
#modalCheck:checked + .modal-check {
   text-decoration: none;
}
.subListBlock {
   width:80%;
   border: 2px dashed rgba(255, 255, 255, 0.4);
   margin-top: 20px;
   padding: 15px;
}
#subList {
   overflow: auto;
   max-height: 150px;
   margin-top: 15px;
}
#subListInp {
   width: 85%;
   height: 50px;
   background: transparent;
   border: none;
   border-bottom: 2px solid #ffcc00;
   border-radius: 2px; 
   outline: none;
   overflow: hidden;
   font-size: 20px;
   padding-left: 10px;
   padding-bottom: -10px;
   color: antiquewhite;
   transition: 0.4s;
}
#subListAdd {
   color: #333;
   font-size: 30px;
   height: 40px;
   border: none;
   min-width: 40px;
   text-align: center;
   display: inline-block;
   line-height: 40px;
   border-radius: 50%;
   outline: none;
   font-weight: bold;
   background-color: #ffcc00;
   cursor: pointer;
   transition: 0.1s;
}
#subList label {
   font-size: 20px;
   height: 25px;
   line-height: 25px;
   margin: 4px;
   padding: 0 60px 0 40px;
}
#subList li {
   margin: 0;
}
#subList li button {
   width: 20px;
   height: 20px;
}
#subList label::before {
   width: 15px;
   height: 15px;
   border-width: 1px;
}
@media(max-width:700px) {
   #taskList {
      width: 400px;
   }
   .modal-settings {
      width: 310px;
   }
}
@media(max-width:500px) {
   #taskList {
      width: 300px;
   }
}